*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
.content-header .post input:hover {
    background-color:#ebebeb;
}

.content-header .post input:focus,
.content-header .post input:active {
    outline: none;
}
.function i{
    padding-right: 12px;
}
.function .list-function div:hover {
    background-color: #ebebeb;
    border-radius: 6px;
    cursor: pointer;
}

.create-post {
    border: 1px solid transparent;
    border-radius: 10px;
    width: 566px;
    height: 380px;
    background: white;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.overflow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    z-index: 998;
    opacity: 0.6;
}

.create-title {
    color: #747171;
}

.text-graylight {
    color: #beb9b9;
}

.cursor-pointer {
    cursor: pointer;
}

.create-name {
    font-weight: 500;
    font-size: 16px;
}

.create-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ebebeb;
    top: 15%;
    left: 0;
}

.create-content {
    display: flex;
    flex-direction: column;
}

.create-status {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.item-create {
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.item-create i {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
}


.item-create:hover {
    border-radius: 50%;
    background: #ebebeb;
}

textarea {
    position: relative;
}

textarea::placeholder {
    color: #beb9b9;
}

.create-user::after {
    content: "";
    position: absolute;
    right: 16px;
    bottom: 55px;
    width: 22px;
    height: 32px;
    background: white;
    z-index: 1;
}