*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
.content-header .post input:hover {
    background-color:#ebebeb;
}

.content-header .post input:focus,
.content-header .post input:active {
    outline: none;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto 10px
}

.function i{
    padding-right: 12px;
}
.function .list-function div:hover {
    background-color: #ebebeb;
    border-radius: 6px;
    cursor: pointer;
}

.create-post {
    border: 1px solid transparent;
    border-radius: 10px;
    width: 566px;
    height: 380px;
    background: white;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.overflow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    z-index: 998;
    opacity: 0.6;
}

.create-title {
    color: #747171;
}

.text-graylight {
    color: #beb9b9;
}

.cursor-pointer {
    cursor: pointer;
}

.create-name, 
.create-name1 {
    font-weight: 500;
    font-size: 16px;
    position: relative;
}

.create-name1::after {
    content: "";
    position: absolute;
    top: 66%;
    left: -13px;
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
    border: 2px solid white;
}

.create-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ebebeb;
    top: 15%;
    left: 0;
}

.create-content {
    display: flex;
    flex-direction: column;
}

.create-status {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.item-create {
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.item-create i {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
}


.item-create:hover {
    border-radius: 50%;
    background: #ebebeb;
}

textarea {
    position: relative;
}

textarea::placeholder {
    color: #beb9b9;
}

.create-user::after {
    content: "";
    position: absolute;
    right: 16px;
    bottom: 55px;
    width: 22px;
    height: 32px;
    background: white;
    z-index: 1;
}

.content-header {
    border: 1px solid gainsboro;  
    background-color: #fff; 
    overflow: hidden;
    border-radius: 10px; 
}

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 30%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 30px;
    height: 30px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}