*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
.content-header .post input:hover {
    background-color:aquamarine;
}
.function i{
    padding-right: 12px;
}
.function .list-function div:hover {
    background-color:aquamarine;
    cursor: pointer;
}