.txtName {
    text-decoration: none;
    color: black;
}

.txtName:hover {
    color: black;
    text-decoration: underline;
}

.txtAddress {
    max-width: 180px;
}

.txtTime {
    padding: 10px 0 0 4px;
}

.active-job {
    background: #e6f7ff;
}

.active-job:hover {
    background: #e6f7ff !important;
}

.list-job {
    cursor: pointer;
    transition: all .1s ease-in;
}

.list-job:hover {
    background: rgba(233, 230, 230, 0.459);
}

.report {
    font-size: 30px;
    position: relative;
    top: -20px;
}

.txtDetail {
    width: 101%;
    position: relative;
    max-height: 100px;
    overflow: hidden;
    margin: 20px 0 30px 20px;
}

.job-right {
    height: 81vh;
}

.txtMore {
    max-height:fit-content;
    overflow: visible;
}

.txtDetail::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    opacity: 0.8;
    background: #fff;
}

.content {
    max-width: 620px;
    overflow: scroll;
    height: 80vh;
    position: fixed;
    left: 47%;
    top: 150px;
    transition: all .1s ease-in;
}

.show-more {
    margin-bottom: 20px;
}
