.txtName {
    text-decoration: none;
    color: black;
}

.txtName:hover {
    color: black;
    text-decoration: underline;
}

.txtAddress {
    max-width: 180px;
}

.txtTime {
    padding: 10px 0 0 4px;
}

.active-job {
    background: #e6f7ff;
}

.active-job:hover {
    background: #e6f7ff !important;
}

.list-job {
    cursor: pointer;
    transition: all .1s ease-in;
}

.list-job:hover {
    background: rgba(233, 230, 230, 0.459);
}

.report {
    font-size: 30px;
    position: relative;
    top: -20px;
}

.txtDetail {
    width: 101%;
    /* height: 100px; */
}

.job-right {
    height: 80vh; 
    max-width: 600px; 
    overflow: scroll;
    position: fixed;
    top: 150px;
}